@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");


:root{
    --lightgray-100: #FAF9F8;
    --lightgray-200: #F0EFEE;
    --lightgray-300: #F0F3F5;
    --lightgray-400: #898C8F;
    --deepgray: #797C80;
    --white-color: #FAF9F8;
    --white-color-200: #FFFFFF;
    --lightpurple-100: #EDECF5;
    --lightpurple-400: #D049F2;
    --deep-purple: #5353CB;
    --black-color: #171819;
    --green-color: #00B4CC;
    --green-color-300: #04B5CD;
    --red-color-200: #E97084;
    --badge-success: #E2F1DA;
    --badge-danger: #FCF0F2;
    --orange: #F77E4A;
    --lightorange: #FFF3E6;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: -0.35rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  color: var(--deepgray);
}

.sidebar{
    background-color: var(--lightgray-100);
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
    padding: .85rem;
}

.logo{
    width: fit-content;
    height: auto;
    padding: .55rem 0;
}

.brand-logo{
    width: 150px;
    height: auto;
}

.brand-logo img{
    width: 100%;
    height: auto;
}

/* Searchbar */
.searchbar{
    width: fit-content;
    height: auto;
}

.form{
    width: 100%;
    height: auto;
    padding: .5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .65rem;
    background-color: var(--lightgray-200);
}

.form .search{
    width: 10%;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
}

.form .search i{
    font-size: 1.25rem;
    color: var(--lightgray-400);
}
.form input{
    padding: .32rem 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 65%;
    font-size: 1rem;
}

.find{
    width: 25%;
    height: auto;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: .17rem;
    padding: .35rem .5rem;
    border-radius: .55rem;
    color: var(--lightgray-400);
}

/* Main Menu */
.main-menu-container,
.label-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.45rem;
}

.main-heading{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.navigation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.nav-item{
    width: 100%;
    height: auto;
    padding: .5rem .65rem;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .75rem;
    border-radius: .45rem;
    cursor: pointer;
}

.nav-item i{
    font-size: 1.25rem;
}
.nav-item p{
    font-size: .85rem;
}

.nav-item p{
    font-weight: 500;
    text-transform: capitalize;
}

.nav-item.active{
    background-color: var(--lightpurple-100);
    color: var(--deep-purple);
}

.nav-item.active > *{
    font-weight: 700;
}

.label-item{
    width: 100%;
    height: auto;
    padding: .5rem .65rem;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .75rem;
    border-radius: .45rem;
    cursor: pointer;
}

.label-item p{
    text-transform: capitalize;
    font-weight: 500;
    font-size: .85rem;
}

.dot{
    width: 0.75rem;
    height: 0.75rem;
    background-color: red;
    border-radius: 50%;
}

.green-dot{
    background-color: var(--green-color);
}

.purple-dot{
    background-color: var(--deep-purple);
}

.orange-dot{
    background-color: var(--orange);
}

.velvet-dot{
    background-color: var(--lightpurple-400);
}


/* Main Wrapper */
.main-wrapper{
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-left: 1px solid var(--lightgray-200);
    background-color: #FDFDFC;
}

.header{
    width: 100%;
    background-color: var(--lightgray-100);
    padding: 0 1.5rem;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightgray-200);
}

.header-left{
    width: fit-content;
    height: auto;
}

.header-left h2{
    color: var(--black-color);
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: 800;
}

.header-right{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1.25rem;
}

.task-btn{
    width: fit-content;
    height: auto;
}

.task-btn button{
    border: 1px solid var(--deep-purple);
    outline: none;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.15rem;
    cursor: pointer;
    color: var(--deep-purple);
}

.task-btn button i{
    font-size: 1.2rem;
}

.notification{
    width: fit-content;
    height: auto;
    position: relative;
}

.notification i{
    font-size: 1.5rem;
    color: var(--black-color);
    cursor: pointer;
}

.notification-dot{
    position: absolute;
    top: 0;
    right: .15rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--orange);
}

.header-profile{
    width: fit-content;
    height: auto;
}

.header-profile img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}

/* Task Container */
.task-container{
    width: 100%;
    height: 92vh;
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: .35rem;

}

.task-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .35em 0;
}

.task-header-left{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
}

.left-item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .35rem;
    cursor: pointer;
    padding-block-end: .45rem;
    padding-inline: .5rem;
}

.left-item.active {
    border-bottom: 3px solid var(--deep-purple);
    color: var(--deep-purple);
}


.left-item p{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.left-item i{
    font-size: 1.15rem;
}

.task-header-right{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: .5rem;
}

.task-header-right i{
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-items: center;
}

.filter,
.sort{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.filter p,
.sort p{
    font-weight: 500;
    font-size: 1.13rem;
    text-transform: capitalize;
}

.divider{
    /* width: 100%; */
    /* height: 1px; */
    /* background-color: var(--lightgray-200); */
    /* background-color: red; */
    /* position: absolute; */
    /* top: -.45rem; */
    /* z-index: 10; */
}

.tasks-column{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.task-section{
    /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 1rem;
}

.task-item{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .45rem 1.25rem;
    border-radius: .65rem;
}

.task-item h4{
    color: var(--black-color);
    font-size: 1.2rem;
    text-transform: capitalize;
}

.task-item div{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.task-item div i{
    color: var(--black-color);
    font-size: 1.15rem;
}

.todo-tab .plus{
    background-color: #F5F2FF;
}

.todo-tab{
    background-color: #EBE5FF;
}

.progress-tab{
    background-color: #DFF5F8;
}

.progress-tab .plus{
    background-color: #EFFAFB;
}

.done-tab{
    background-color: #E3F7DA;
}

.done-tab .plus{
    background-color: #F1FBEC;
}

/* Cards */
.cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;

}

.card-column{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 1rem;
}

.card{
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    border-radius: .5rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    background-color: var(--white-color-200);
}

.card-shadow{
    box-shadow: 0 0 24px -5px rgba(0, 0, 0, 0.104);
}

.card-border{
    border: 1px solid var(--lightgray-200);
}

.card-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-tag p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
}

.tag-orange{
    color: var(--orange);
}

.tag-purple{
    color: var(--deep-purple);
}

.tag-lightpurple{
    color: var(--lightpurple-400);
}

.tag-green {
    color: var(--green-color-300);
}

.card-img{
    width: 100%;
    height: 12rem;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: .45rem;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card-body{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: .75rem;
}

.card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: .25rem;
}

.content-title{
    color: var(--black-color);
    text-transform: capitalize;
    font-size: 1.18rem;
}

.content-subtitle{
    font-weight: 500;
    text-transform: capitalize;
}

.card-badges{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .75rem;
}

.badge{
    width: fit-content;
    border: 0;
    outline: none;
    padding: .45rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .35rem;
    column-gap: .5rem;
    text-transform: capitalize;
    font-size: .75rem;
    font-weight: 600;
}

.badge-orange{
    background-color: var(--lightorange);
    color: var(--orange);
}

.badge-gray{
    background-color: var(--lightgray-300);
    color: var(--lightgray-400);
}

.badge-success{
    background-color: var(--badge-success);
    color: #4AA81B;
}

.badge-danger{
    background-color: var(--badge-danger);
    color: var(--red-color-200);
}

.card-footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-stack{
    height: 2rem;
    width: 2rem;
    display: flex;
    position: relative;
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-inline-start: -.65rem;
    z-index: 1;
}

.card-img-stack img:first-child {
    margin-inline-start: 0;
  }


.card-extras{
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.card-link,
.card-comments{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}



/* Mediq Queries */
@media  (width <= 480px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .main-wrapper{
        width: 100%;
    }

    .sidebar{
        display: none;
    }

    .header{
        padding: .75rem;
        justify-content: space-between;
        align-items: center;
    }

    .task-header{
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: .75rem;
    }

    .task-btn button{
        font-size: .95rem;
        padding: .35rem .85rem;
    }

    .task-section{
        flex-direction: column;
        row-gap: .75rem;
    }

    .cards{
        flex-direction: column;
    }

    .card-column{
        width: 100%;
    }

    .card{
        margin-block-end: 1rem;
    }
      
}

@media (width >= 540px) and (width < 641px) {

    .main-wrapper{
        width: 100%;
    }
    .container {
        width: 100%;
    }

    .sidebar{
        display: none;
    }
    .task-header{
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: .75rem;
    }

    .task-section{
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .card-column{
        width: 100%;
        /* flex-wrap: wrap; */
    }
    .cards{
        flex-wrap: wrap;
    }
    .card{
        margin-block-end: .75rem;
    }
}

@media  (width >= 642px) and (width <= 1120px) {
    .sidebar{
        display: none;
    }

    .main-wrapper{
        width: 100%;
    }
}